# Introducción

En este documento exploraremos y analizaremos un dataset proporcionado por el profesorado que imparte la asignatura _Aprendizaje Automático_ en la Facultad de Informática, Universidad Complutense de Madrid. 

Implementaremos un modelo que realice predicciones de etiquetado binario utilizando este dataset, considerando múltiples configuraciones para el modelo, observando cómo varía su precisión y eficiencia. Para llevar a cabo estas tareas, utilizaremos las librerías _matplotlib, numpy y scikit-learn_.

El objetivo de este ejercicio es, por lo tanto, poner en práctica varias habilidades aprendidas durante el desarrollo de la asignatura a lo largo de los últimos meses. De esta forma, utilizaremos únicamente metodologías impartidas en la asignatura.

El dataset que utilizaremos para desarrollar nuestro proyecto pertenece a [_UC Irvine Machine Learning Repository_](http://archive.ics.uci.edu/ml/index.php) y se denomina [Tic-Tac-Toe Endgame](http://archive.ics.uci.edu/ml/datasets/Tic-Tac-Toe+Endgame).


A continuación, realizaremos la carga de librerías, datos y un breve análisis.

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn import preprocessing as pp

from log_reg import LogReg # /log_reg.py
from neural_net import NeuralNet # /neural_net.py

In [2]:
!ls dataset/

tic-tac-toe.data  tic-tac-toe.names

In [36]:
df = pd.read_csv('dataset/tic-tac-toe.data', header=None)

print(f'number of instances:{df.shape[0]}, number of attributes:{df.shape[1]}')

number of instances:958, number of attributes:10

In [55]:
df.columns= ['p'+str(i) for i in range(0,df.shape[1]-1)] + ['y']

In [56]:
df.head()

  p0 p1 p2 p3 p4 p5 p6 p7 p8         y
0  x  x  x  x  o  o  x  o  o  positive
1  x  x  x  x  o  o  o  x  o  positive
2  x  x  x  x  o  o  o  o  x  positive
3  x  x  x  x  o  o  o  b  b  positive
4  x  x  x  x  o  o  b  o  b  positive

In [57]:
df.describe()

         p0   p1   p2   p3   p4   p5   p6   p7   p8         y
count   958  958  958  958  958  958  958  958  958       958
unique    3    3    3    3    3    3    3    3    3         2
top       x    x    x    x    x    x    x    x    x  positive
freq    418  378  418  378  458  378  418  378  418       626

El dataset expone por cada tupla el contenido de las 9 posiciones del tablero de tres en raya, donde juegan dos jugadores denotados por *x* y *o*, así como la resolución de la partida, denotada con la cadena *positive* si ha ganado *x* o *negative* si ha ganado *o*. Por lo tanto, tenemos dos posibles etiquetas.

Leyendo el fichero _tic-tact-toe.names_ podemos conocer brevemente cómo se exponen los valores de las variables del dataset, concluyendo que en cada posición del tablero encontraremos una de tres opciones:

   > (x=player x has taken, o=player o has taken, b=blank)
    
Además, es relevante remarcar que se asume que el jugador *x* juega primero.

** *PLACEHOLDER* **

Introduccion a las metodologias que prosiguen: pasamos a comparar varios modelos

# Regresión logística

In [ ]:
# explicacion del uso de la regresion logistica etc
# no olvidar: usar pp.PolynomialFeatures(practica2) en alguna comparacion